.header {
    grid-area: header;
    display: flex;
    align-items: center;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    background-color: #fff;
    padding: 1rem;
}

.header div {
    margin: 0 10px;
}