.app {
  display: grid;
  margin: auto;
  margin-left: 1rem;

  grid-template-areas: 
  "sidebar header"
  "sidebar content";

  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;

  grid-gap: 1rem;
}

.content {
  grid-area: content;
  border: 3px solid brown;
  padding: 1rem;
}
